.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #123f52;
}

.header h1 a {
    text-decoration: none;
    color: inherit;
}

.nav a {
    padding: 0 8px;
    text-decoration: none;
}
